<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inittial-scale=1.0">
    <title>編集</title>
</head>
<style>
    body {
        font-family: sans-serif;
        padding: 10px;
        margin: 0;
    }
    input, button {
        width: 350px;
        font-size: 1rem;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
</style>
<body>
    <h2>✏ 日報編集</h2>
    <form method="post">
        日付: <input type="date" name="date" value="{{ report.date }}"><br>
        名前: <input type="text" name="name" value="{{ report.name }}"><br>
        件名: <input type="text" name="title" value="{{ report.title }}"><br>
        作業内容: <input type="text" name="task" value="{{ report.task }}"><br>
        同行者: <input type="text" name="partner" value="{{ report.partner }}"><br>
        前残業: <input type="number" step="0.1" name="overtime_before" value="{{ (report.overtime_before / 60) | round(2) }}"><br>
        通常時間: <input type="number" step="0.1" name="work_minutes" value="{{ (report.work_minutes / 60) | round(2) }}"><br>
        後残業: <input type="number" step="0.1" name="overtime_after" value="{{ (report.overtime_after / 60) | round(2) }}"><br>
        <button type="submit">更新</button>
        <a href="{{ url_for('view_reports') }}">戻る</a>
    </form>
</body>
</html>